@media (max-width : 2560px)
  .services
    padding: 100px 69px 100px 21%

  .collective
    &-title
      margin: 60px 20% 0 0
    &-person
      &__text
        font-size: 22px
@media (max-width : 1920px)
  .services
    padding: 100px 69px 100px 21%
  .collective
    &-title
      margin: 60px 140px 0 0
    &-person
      &__text
        font-size: 18px
  .gallery
    padding: 130px 100px 110px 40px
    &-title
      margin: 60px 50px 0 0

@media (max-width : 1600px)
  .header
    &-menu
      padding: 0 250px 0 45px
  .main
    &-content
      &__page
        &-number
          margin: 0 0 30px 0
      &__title
        margin: 0 0 15px 0
    &-info
      padding: 0 0 0 100px
    &-subtitle
      margin: 15px 100px 0 0
  .services
    padding: 80px 70px 80px 150px
    &-title
      left: 30px
    &-slide
      &__image
        max-width: 400px
    &-slider
      &__button
        &--prev
          left: 688px
        &--next
          left: 783px
  .collective
    padding: 80px 270px 0 20px
    &-title
      margin: 60px 0px 0 0
  .gallery
    padding: 120px 50px 110px 10px
    &-title
      margin: 60px -50px 0 0
  .contacts
    padding: 140px 265px 50px 25px
    &-title
      margin: 60px 180px 0 0

@media (max-width : 1400px)
  .header
    &-menu
      height: 70px
      min-height: 70px
      padding: 0 150px 0 45px
  .main
    &-content
      &__page
        &-number
          margin: 0 0 25px 0
      &__title
        font-size: 25px
        margin: 0 0 5px 0
    &-description
      &__block
        margin: 110px 0 0 0
      &__text
        margin: 0 0 0 90px
        &::before
          display: none
    &-info
      padding: 0 0 0 80px
      &__wrapper
        padding: 180px 0 100px 0
    &-subtitle
      margin: 15px 80px 0 0
  .services
    padding: 80px 70px 80px 100px
    &-menu
      margin: 0 0 105px 0
      li
        width: 360px
    &-slide
      &__info
        min-width: 170px
      &__description
        padding: 20px 10px 0 40px
  .collective
    padding: 80px 110px 0 40px
    &-photo
      max-width: 470px
      max-height: 590px
    &-position
      padding: 90px 0 50px 0
    &-person
      margin: 0 0 10px 0
      padding: 70px 0 0 0
    &-name
      margin: 0 0 40px 0
  .contacts
    padding: 140px 100px 50px 25px
    &-title
      margin: 60px 60px 0 0

@media (max-width : 1200px)
  .container
    width: 940px
  .header
    &-menu
      &__phone
        display: none
      &__request
        display: none
        // position: fixed
        // width: 100%
        // height: 55px
        // left: 0
        // right: 0
        // bottom: 0
        // letter-spacing: 1.2px
        // font-weight: 600
        &:hover:before
          width: 0
      // &::after
      //   background-color: #fff

  .main
    &-info
      padding: 0 0 0 30px
      &__wrapper
        padding: 130px 0 80px 0
    &-subtitle
      margin: 15px 50px 0 0
    &-description
      &__text
        margin: 0 0 0 60px
      &__block
        margin: 80px 0 0 0
  .services
    padding: 80px 70px 80px 70px
    &-title
      left: 5px
    &-menu
      li
        width: 330px
    &-slide
      &__number
        &--big
          font-size: 220px
          top: -34px
          left: -180px
      &__info
        padding: 15px 30px 40px 0
      &__description
        max-width: 450px
        padding: 20px 10px 0 20px
      &__title
        font-size: 50px
      &__price
        margin: 0 30px 0 0
    &-slider
      &__button
        &--prev
          left: 638px
        &--next
          left: 733px
  // .services
  //   padding: 60px 70px 60px 0px
  //   &-wrapper
  //     padding: 0 50px

  //   &-title
  //     display: none
  //   &-menu
  //     margin: 0 0 55px 0
  //     li
  //       width: 33.3333%
  //   &-slide
  //     height: 600px
  //     &__image
  //       height: 600px
  //     &__signature
  //       display: none
  //     &__info
  //       position: absolute
  //       height: auto
  //       right: 90px
  //       overflow: visible
  //       visibility: hidden
  //     &__description
  //       padding: 10px 10px 0 20px
  //     &__text
  //       line-height: 1.4
  //     &__price
  //       margin: 0 40px 10px 0

    // &-slider
    //   &__button
    //     &--prev
    //       left: 464px
    //       bottom: 0
    //     &--next
    //       left: 559px
    //       bottom: 0

  .price
    &-title
      font-size: 24px
      &__wrapper
        min-height: 150px
    &-item
      &__eyelashes
        padding: 15px 15px 15px 40px
      &__brows
        padding: 15px 15px
      &__lips
        padding: 15px 15px
      &__description
        font-size: 17px
      &__value
        font-size: 18px
    &-eyelashes
      &__number
        &--big
          font-size: 200px
  .collective
    padding: 60px 75px 0 40px
    &-title
      display: none
    &-photo
      max-width: 350px
      max-height: 550px
      margin: 0 100px 0 0
    &-position
      padding: 140px 0 30px 0
      &__profession
        font-size: 40px
    &__page
      &-number
        &--big
          font-size: 220px
          left: -182px
          top: -124px
    &-person
      max-width: 390px
    &-name
      margin: 0 0 50px 0
  .gallery
    padding: 110px 80px 110px 5px
    &-item
      max-height: 300px

  .contacts
    padding: 120px 70px 20px 25px
    &-title
      margin: 60px 40px 0 0
    &-map
      width: 700px
      height: 470px
    &__page
      &-number
        &--big
          font-size: 220px
          left: -13px
  .footer
    padding: 30px 0 80px 0

  // .portfolio
  //   &-items
      // gap: 17px

@media (max-width : 1024px)
  .services
    padding: 60px 70px 60px 0px
    &-wrapper
      padding: 0 0 0 30px
    &-title
      display: none
    &-menu
      margin: 0 0 55px 0
      li
        width: 31%
    &-slide
      // height: 500px
      // &__image
      //   height: 500px
      &__signature
        display: none
      &__info
        position: absolute
        height: auto
        right: 90px
        overflow: visible
        visibility: hidden
      &__description
        padding: 10px 10px 0 20px

    &-slider
      &__button
        &--prev
          left: 464px
          bottom: 0
        &--next
          left: 559px
          bottom: 0
  .price
    &-title
      font-size: 21px
    &-item
      &__brows
        padding: 10px 15px
      &__eyelashes
        padding: 10px 20px 10px 20px
      &__lips
        padding: 10px 20px
  .collective
    padding: 40px 50px 0 10px
    &-photo
      max-width: 300px
      max-height: 460px
      margin: 0px 70px 0 0
    &-position
      min-width: 60px
      margin: 0 37px 0 0
      padding: 80px 0 30px 0
    &-person
      margin: 0
      padding: 40px 0 0 0
    &-name
      margin: 0 0px 70px 0
  .gallery
    padding: 60px 50px 50px 0px
    &_container
      padding: 40px 60px 40px 40px
    // &__page
    //   &-number
    //     &--big
    //       left: -7px
    &-title
      display: none
    // &-extra
    //   &__link
    //     height: 188px
  .contacts
    padding: 90px 100px 0px 35px
    &-title
      display: none
    &-map
      width: 660px
      height: 420px
    &-subtitle
      font-size: 50px

@media (max-width : 992px)
  .container
    width: 730px
  .main
    &-content
      &__description
        display: none
    &-title
      font-size: 40px
      &__description
        left: -240px
        font-size: 150px
    &-subtitle
      margin: 15px 30px 0 0
      font-size: 21px
    &-description
      &__text
        margin: 0 0 0 30px
        max-width: 230px
        font-size: 14px
  .services
    &-wrapper
      padding: 0 5px 0 20px

    &-slide
      &__text
        font-size: 15px
        margin: 0px 0 20px 0
      &__image
        max-width: 340px
      &__title
        font-size: 55px
    &-slider
      &__button
        &--prev
          left: 418px
        &--next
          left: 513px

  .collective
    padding: 40px 70px 0 10px
    &-photo
      margin: 0px 10px 0 0
    &-position
      margin: 0 27px 0 0
    &-name
      margin: 0 0px 50px 0
    &-person
      &__text
        font-size: 15px

  .price
    &-item
      &__eyelashes
        padding: 5px 7px
      &__brows
        padding: 5px 7px
      &__lips
        padding: 5px 7px
      &__description
        font-size: 15px
      &__value
        font-size: 16px

  .gallery
    padding: 70px 90px 50px 20px
    &_container
      padding: 0
    // &-item
    //   a
    //     &::before, &::after, span
    //       display: none
    // &-slide
    //   height: 350px
    //   a
    //     height: 100%
    //     img
    //       height: 100%
    // &-extra
    //   flex-wrap: wrap
    //   margin: 0
    //   &__image
    //     flex: 0 1 32.5%
    //     padding: 0
    //   &__link
    //     margin: 5px 0 0 0

  .contacts
    padding: 90px 70px 0px 15px
    &-specification
      flex-shrink: 0
    &-text
      padding: 25px 25px 25px 30px
    &-schedule
      padding: 25px 10px 25px 30px

  .articles
    &-items
      grid-template-columns: repeat(2, 1fr)
    &-item
      img
        // max-height: 300px
        // grid-column: 1/3
      &__text
        // grid-column: 1/3
        // grid-row: 3/4

@media (max-width : 768px)
  .container
    width: 540px

  .aside
    &-menu
      display: none
  .header
    &-logo
      width: 80px
      // margin-right: 80px
      img
        width: 100%
    &-menu
      padding: 0 25px 0 25px
      z-index: 99
      &__request
        &--mobile
          display: block
      &__phone
        &--mobile
          display: flex
          justify-content: center
          align-items: center
          position: fixed
          width: 100%
          height: 55px
          left: 0
          right: 0
          bottom: 0
          letter-spacing: 1.2px
          font-weight: 600
      &__burger
        display: block
        position: relative
        width: 30px
        height: 18px
        cursor: pointer
        margin: 0 0 0 60px
        z-index: 5
        span,
        &::before,
        &::after
          position: absolute
          left: 0
          height: 3px
          width: 100%
          transition: all 0.2s ease
          background-color: #000
        &::before, &::after
          content: ''
        &::before
          top: 0
        &::after
          bottom: 0
        span
          top: 50%
          transform: scale(1) translate(0px, -50%)
  .header-menu__burger._active span
    transform: scale(0)
  .header-menu__burger._active::before
    top: 50%
    transform: rotate(-45deg) translate(0px, -50%)
  .header-menu__burger._active::after
    bottom: 50%
    transform: rotate(45deg) translate(0px, 50%)
  .hidden
    &-menu
      // position: fixed
      // top: 0
      // left: 0
      // width: 100%
      // height: 100%
      // background-color: #fff
      &__wrapper
        padding: 80px 0 50px 0
      &__header
        display: none
      &__content
        &::after
          display: none
      &__list
        grid-template-columns: repeat(2, 1fr)
        column-gap: 0
        row-gap: 15px
        // flex-direction: column
        // align-items: center
        margin: 0 auto
        li
          // margin: 0 0 20px 0
          a
            font-size: 18px
            font-weight: 500
            text-transform: uppercase
            letter-spacing: 1px
            color: #000
            &::before
              display: none

      &__contacts
        display: none
      &__social
        display: flex
        justify-content: center
        align-items: center
        margin: 40px auto 0
        a
          display: inline-flex
          justify-content: center
          align-items: center
          width: 30px
          &:not(:last-child)
            margin-right: 20px
          img
            width: 100%
            height: auto

  .main
    &-info
      padding: 0 0 0 20px
    &-subtitle
      margin: 15px 20px 0 0
    &-title
      font-size: 35px

  .services
    padding: 60px 0 60px 0px
    &-wrapper
      padding: 0
    &-menu
      width: 100%
      justify-content: space-between
      margin: 0
      &::after
        display: none
      li
        text-align: center
        flex-basis: 33.3333%
        padding: 10px 20px
    &-slide
      flex-direction: column
      height: auto
      &__image
        position: relative
        min-width: 100%
        // height: auto
        max-height: 700px
        img
          object-position: top
        &::after
          content: ''
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 0
          background: rgb(255,255,255)
          background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.06486344537815125) 7%, rgba(255,255,255,0.16290266106442575) 13%, rgba(255,255,255,0.19091386554621848) 22%, rgba(247,247,247,0.4598214285714286) 74%, rgba(247,247,247,0.7511379551820728) 90%, rgba(247,247,247,1) 100%)
      &__title
        font-size: 50px
      &__info
        right: 30px
        bottom: 280px
        visibility: visible
      &__text
        max-width: 400px
      &__description
        max-width: 60%
        display: flex
        flex-direction: column
      &__number
        position: absolute
        width: 100%
        right: 140px
        bottom: 185px
        margin: 0
        &--big
          font-size: 190px
          font-weight: 600
          top: -26px
          left: -146px
    &-slider
      &__button
        &--prev
          left: auto
          bottom: 70px
          right: 120px
        &--next
          right: 25px
          left: auto
          bottom: 70px
  .number
    font-size: 25px
    &::after
      left: 1px
      top: 5px
      font-size: 16px
  .price
    padding: 50px 0 50px 0
    &-wrapper
      flex-direction: column
    &-title
      font-size: 30px
      margin: 0
      &__wrapper
        box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.2)
    &-brows, &-eyelashes, &-lips
      max-width: 100%

    &-item
      &__eyelashes
        padding: 15px 40px
      &__brows
        padding: 15px 40px
      &__lips
        padding: 15px 40px
      &__description
        font-size: 18px
      &__value
        font-size: 19px
    &-eyelashes
      &__number
        &--big
          display: none
  .collective
    padding: 100px 15px 0 0
    &-wrapper
      position: relative
    &-title
      position: absolute
      display: block
      max-width: 250px
      left: 60px
      top: -30px
      margin: 0
      transform: none
      writing-mode: horizontal-tb
    &-photo
      max-height: 500px
      margin: 100px 0px 0 0
    &__page
      &-number
        position: absolute
        right: 100px
        top: 40px
        &--big
          font-size: 200px
          left: -162px
          top: -113px
    &-position
      margin: 0 -20px 0 0
      padding: 0
      &__profession
        position: absolute
        transform: none
        writing-mode: horizontal-tb
        font-size: 20px
        top: 205px
        right: auto
        // right: 237px
        left: 340px
    &-person
      padding: 140px 30px 0 0
      &__text
        line-height: normal

  .gallery
    padding: 70px 20px 50px 20px
    &-content
      padding: 0
    &-item
      a
        span
          font-size: 20px

  .contacts
    padding: 70px 10px 0px 10px
    &__page
      &-number
        margin: 0
        &--big
          font-size: 190px
          top: -75px
          left: -42px
    &-info
      flex-direction: column
    &-specification
      position: relative
      width: 100%
      order: -1
    &-text
      padding: 20px 20px 20px 30px
    &-button
      position: absolute
      right: 50px
      top: 50px
    &-schedule
      &__text
        // br
        //   display: none
    &-map
      width: 540px
      max-width: 100%
      height: 300px

  .portfolio
    &-title
      font-size: 30px
    &-items
      gap: 10px
  .thanks
    &-title
      font-size: 32px

  .articles
    padding: 100px 10px 80px 10px
    &-item
      h3
        font-size: 20px
  .article
    &-title
      font-size: 1.4em
  .blog
    padding: 80px 0
@media (max-width : 576px)
  .container
    width: 100%
    padding: 0 10px
  .header
    &-logo
      margin-right: 0
    &-menu
      &__burger
        margin: 0 0 0 50px
  .hidden
    &-menu
      &__list
        grid-template-columns: 1fr
        text-align: center
  .main
    position: relative
    &-content
      position: absolute
      // width: 100%
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0.2!important
    &-info
      &__wrapper
        margin: 0 auto
    &-title
      font-size: 42px
      &__description
        left: -10px
        font-size: 110px
    &-subtitle
      margin: 15px 50px 0 0
    &-description
      &__text
        margin: 0 0 0 45px
        font-size: 15px
  .services
    &-menu
      li
        min-height: 55px
        padding: 10px 0px
        font-size: 13px
    &-slide
      padding: 0 0 90px 0
      &__title
        font-size: 45px
      &__number
        display: none
      &__text
        max-width: 290px
      &__info
        right: 20px
        bottom: 330px
      &__number
        &--big
          font-size: 160px
          top: -20px
          left: -120px
    &-slider
      &__button
        &--prev
          left: 30%
          // left: 194px
          bottom: 0px
          right: auto
        &--next
          left: 51%
          // left: 289px
          bottom: 0px
          right: auto

  .collective
    padding: 40px 15px 50px 0
    &-content
      flex-direction: column
    &-title
      max-width: 200px
      right: 10px
      top: -20px
      left: auto
      font-size: 35px
      br
        display: block
      // &--bold
      //   margin: 0 0 0 10px
    &-photo
      position: relative
      max-width: 100%
      margin: 0
      img
        max-width: 70%
        height: 100%
        max-height: 450px
        object-fit: cover
        object-position: top
      &::after
        content: ''
        position: absolute
        // width: 100%
        // height: 100%
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgb(255,255,255)
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.17970938375350143) 25%, rgba(255,255,255,0.29735644257703087) 40%, rgba(247,247,247,0.5298494397759104) 65%, rgba(247,247,247,0.6727065826330532) 75%, rgba(248,248,248,0.7819502801120448) 85%, rgba(249,249,249,0.8827906162464986) 95%, rgba(251,251,251,0.9472163865546218) 100%)
    &__page
      &-number
        right: 60px
        top: 200px
        &--big
          left: -129px
          top: -95px
          font-size: 170px
          // font-weight: 600
    &-position
      &__profession
        display: none
        // top: auto
        // left: 32px
        // bottom: 250px
        // right: auto

    &-person
      padding: 30px 30px 0 30px
      max-width: 100%
  .gallery
    padding: 160px 0px 50px 0px
    &-wrapper
      position: relative
    &-title
      display: block
      position: absolute
      top: -120px
      left: 50%
      width: 100%
      margin: 0
      transform: rotate(0deg) translateX(-50%)
      writing-mode: horizontal-tb
      text-align: center
      font-size: 35px
      &--bold
        margin: 0 0 0 10px
    // &__page
    //   &-number
    //     &--big
    //       top: -60px
    //       left: -2px
    //       font-size: 150px
    // &-slide
    //   min-height: 240px
    //   height: 240px
      // a
      //   img
      //     object-fit: contain
  .contacts
    &-subtitle
      font-size: 40px
    &__page
      &-number
        padding: 0 0 0 30px
        &--big
          left: -12px
          top: -85px

  .portfolio
    padding: 90px 10px 80px 10px
    &-title
      font-size: 28px
      text-align: center

    &-items
      grid-template-columns: repeat(2, 1fr)
      gap: 8px

  .articles
    padding: 70px 0px 0px 0px

    &-items
      grid-template-columns: 1fr
  .article
    padding: 100px 0

@media (max-width : 425px)
  .header
    &-menu
      height: 65px
      min-height: 65px
      padding: 0px 15px 0 15px
      &__burger
        margin: 0 0 0 20px
    &-logo
      width: 60px

  .main
    &-title
      font-size: 40px
      &__description
        left: -30px
        font-size: 110px
    &-subtitle
      margin: 15px 30px 0 0
  .services
    &-slide
      &__image
        max-height: 300px
        z-index: 20
        img
          object-position: center
      &__description
        min-width: 85%
        margin: -10px auto 0
        padding: 0
        z-index: 25
      &__title
        font-size: 30px
      &__info
        z-index: 25
        top: 240px
        bottom: auto
      &__number
        &--big
          font-size: 140px
          top: -16px
          left: -102px
      &__text
        max-width: 95%
      &__price
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin: 0 0 20px 0
        font-size: 17px
        &--bold
          font-size: 21px
      &__time
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        font-size: 17px
        &--bold
          font-size: 21px
    &-slider
      &__button
        &--prev
          left: 116px
        &--next
          left: 211px

  .price
    &-title
      &__wrapper
        min-height: 120px
    &-item
      &__description
        line-break: auto
  .collective
    padding: 90px 0 40px 0
    // &-position
      // &__profession
      //   font-size: 17px
      //   top: 410px
    &-title
      top: -30px
    &__name
      &--bold
        font-size: 40px
    &__page
      &-number
        top: 100px
        &--big
          left: -99px
          top: -75px
          font-size: 140px

  .gallery
    padding: 80px 0px 50px 0px
    &-wrapper
      padding: 0
    &-title
      top: -60px
    &-content
      // grid-template-columns: 1fr
      gap: 10px
    &-item
    // &__page
    //   &-number
    //     &--big
    //       top: -50px
    //       left: 0px
    //       font-size: 130px
    // &-slide
    //   min-height: 200px
    //   height: 200px
    //   a
    //     img
    //       object-fit: cover
    //       object-position: left
    // &-extra
    //   flex-direction: column
    //   &__image
    //     width: 100%
    //     height: 250px
    //   &__link
    //     width: 100%

  .contacts
    &-map
      width: 100%

  .portfolio
    &-title
      font-size: 25px
      margin: 0 0 30px 0

  .thanks
    &-title
      font-size: 30px

  .articles
    &-title
      margin: 0px 0 25px 0
      font-size: 1.6em
    &-item
      padding: 0 0 20px 0
      h3
        font-size: 17px
        text-align: center
        // margin: 0 auto
    &-text
      font-size: 19px
      line-height: 23px
      line-height: 1.3

    &-item._single
      max-width: 100%

  .article
    &-title
      font-size: 1.2em
      margin: 0 auto 25px

@media (max-width : 375px)

  .header
    &-menu
      &__burger
        margin: 0
  &-logo
    width: 50px
  .main
    &-title
      font-size: 35px
      &__description
        font-size: 90px
        left: -10px
    &-description
      &__text
        margin: 0 0 0 35px
  .services
    &-slide
      &__text
        max-width: 100%
    &-slider
      &__button
        &--prev
          left: 94px
        &--next
          left: 189px
  .price
    &-title
      font-size: 25px
      &__wrapper
        min-height: 100px
    &-item
      &__eyelashes
        padding: 10px 20px
      &__brows
        padding: 10px 20px
      &__lips
        padding: 10px 20px
  .gallery
    &-title
      font-size: 25px
    &-content
      gap: 5px
    &-item
      a
        span
          font-size: 17px
          width: 90%
  // .collective
  //   &-position
      // &__profession
      //   top: 380px

  .portfolio
    // padding: 100px 0px 70px 0px
    &-title
      font-size: 22px
      margin: 0 0 25px 0
    // &-items
    //   gap: 5px
  .articles
    &-item
      height: 410px
@media (max-width : 320px)
  .main
    &-title
      font-size: 30px
      &__description
        font-size: 80px
    &-subtitle
      font-size: 18px
      margin: 15px 25px 0 0
    &-info
      padding: 0 0 0 10px
      &__wrapper
        padding: 50px 0 0px 0
    &-description
      &__text
        margin: 0 0 0 25px
        font-size: 12px
  .services
    &-menu
      li
        min-height: 55px
        font-size: 12px
    &-slide
      &__description
        min-width: 95%
        margin: -10px 0 0 0
        padding: 0 0 0 10px
      &__info
        right: 0px
    &-slider
      &__button
        &--prev
          left: 66px
        &--next
          left: 161px

  .collective
    padding: 40px 0 30px 0
    &-title
      max-width: 300px
      width: 100%
      right: auto
      top: -10px
      left: 50%
      text-align: center
      transform: translateX(-50%)
      font-size: 25px
    &-photo
      height: 430px
      img
        max-width: 100%
        object-fit: cover
        object-position: left
    &__page
      &-number
        top: 470px
        right: 40px
        &--big
          font-size: 110px
          left: -89px
          top: -54px
    &-position
      // &__profession
      //   top: 500px
      //   left: 22px
    &-person
      padding: 20px 20px 0 20px
      &__text
        font-size: 15px

  .price
    &-item
      &__eyelashes
        padding: 5px 10px
      &__brows
        padding: 5px 10px
      &__lips
        padding: 5px 10px
      &__description
        font-size: 16px
      &__value
        font-size: 17px

  .gallery
    &-wrapper
      padding: 0
    &-title
      font-size: 25px
    // &-slide
    //   height: 300px
    // &-extra
    //   flex-direction: column
    //   &__image
    //     width: 100%
    //     &:not(:last-child)
    //       margin: 0 0 5px 0
    //   &__link
    //     max-width: 100%

  .contacts
    &-button
      position: inherit
      top: auto
      right: auto
    &__page
      &-number
        padding: 0 0 0 15px
        &--big
          font-size: 130px
          left: -8px
          top: -56px
    &-subtitle
      font-size: 30px
    &-text
      padding: 20px 20px 20px 20px
    &-schedule
      padding: 20px 10px 20px 20px

  .footer
    &-rights
      &__text
        &:not(:last-child)
          margin: 0 30px 0 0
  .number
    font-size: 20px
    &::after
      left: 1px
      top: 4px
      font-size: 13px

  .portfolio
    &-title
      font-size: 20px
